<h1>Admin Order</h1>

{{#each items}}
<a target="_self" href="/admin/orders?orderId={{this._id}}&orderStatus=Approved">Approved</a>
<a target="_self" href="/admin/orders?orderId={{this._id}}&orderStatus=Rejected">Rejected</a>
<p>Order Status : {{this.status}}</p>
    <p>total price :{{this.totalprice}}</p>
    {{#each this.product}}
    <img style='width: 150x;height:150px; object-fit: contain'  src="data:image/{{this.img.contentType}};base64,{{this.img.data}}"/>
        <p>name : {{this.name}}</p>
        <p>descstion :{{this.desc}}</p>
        <p>price: {{this.price}}</p>
    {{/each}}
{{/each}}