<h1>Product page</h1>
<nav>
    <a href="./">Home</a>
    <a href="/product">Products</a>
    <a href="/order">My Orders</a>
    <a href="/cart">Cart</a>
    {{#if isLoggedin}}
    <a style="float:right" href="/users/logout">Logout</a>
    {{else}}
    <a href="/users/signup">Signup</a>
    <a href="/users/login">Login</a>
    {{/if}}
</nav>
<form action="/product/createProduct" enctype="multipart/form-data" method="post">
  <div class="form-group">
    <input type="file" class="form-control-file" name="image">
    <input type="text" class="form-control" placeholder="name" name="name">
    <input type="number" class="form-control" placeholder="price" name="price">
    <input type="text" class="form-control" placeholder="description" name="desc">
    <input type="submit" value="Get me the stats!" class="btn btn-default">            
  </div>
</form>

<h1>Uploaded Images</h1>
    <div>
        {{#each items}}
        <div>
            <div>
                     <img style='width: 300px;height:300px; object-fit: contain'  src="data:image/{{this.img.contentType}};base64,{{this.img.data}}"/>
                <div>
                    <h5>{{this.name }}</h5>
                    <p>{{this.desc}}  </p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>